.hero__title {
  height: 145px;
  width: 500px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
}
.hero {
  background-image: url("../../images/Bitmap.jpg");
  margin-top: 50px;
  background-repeat: no-repeat;
  background-position: 40px 0;
  height: 600px;
  padding: 50px 0 0 80px;
  border-radius: 5px;
}
.hero__p {
  font-family: "Barlow";

  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  opacity: 0.8;

  width: 400px;
  height: 70px;
  margin-top: 40px;
  margin-bottom: 50px;
  font-family: "Fraunces";

  font-weight: 900;
  font-size: 18px;
  line-height: 25px;

  color: #fefcf7;
}
.hero_link {
  width: 217px;
  height: 56px;
  border-radius: 6px;
  background: #66d2cf;
  padding: 10px;
}
.hero__link {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
}

